<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--redis-->
    <!--<add key="RedisConn" value="119.23.37.245:6379,password=mztd123456  ,abortConnect=false,connectTimeout=10000" />-->
    <add key="RedisConn" value="redis-app-0.redis-service.default.svc.cluster.local:6379,password=Skhd0euuL5hI8LksdjfwTauppUDaA1MhVNdJ,abortConnect=false,connectTimeout=10000" />
    <!--mongo-->
    <!--<add key="MongoConn" value="M85h5LbMxS3F+M4nvqgYji2atY+8zTpA+FMofosEar2kGquo1ohPxUW7csN+qvtw4695ta3an5IVcAOFOFOLdg=="/>-->
    <!--<add key="MongoConn" value="P35ZhlDPxYPEy+F5h6xqjFaV2+8lP5RYnvk5IVAvG7Y="/>-->
    <add key="MongoConn" value="+Fnsn0Lhewjb1Ns+QA9HUHfx/hQwlFARivVgoIKXsvqiLipZt44aOwiN9O8jsVRc"/>
    <add key="MongoConnOnline" value="M85h5LbMxS3F+M4nvqgYjpEUIJWXDWmkoLiFopLbDYBDctMo9L/C/cmEqIB25tkr"/>
  </appSettings>
</configuration>