<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--redis-->
    <!--<add key="RedisConn" value="119.23.37.245:6379,password=mztd123456  ,abortConnect=false,connectTimeout=10000" />-->
    <add key="RedisConn" value="redis-app-0.redis-service.default.svc.cluster.local:6379,password=Skhd0euuL5hI8LksdjfwTauppUDaA1MhVNdJ,abortConnect=false,connectTimeout=10000" />
    <!--mongo-->
    <!--<add key="MongoConn" value="M85h5LbMxS3F+M4nvqgYji2atY+8zTpA+FMofosEar2kGquo1ohPxUW7csN+qvtw4695ta3an5IVcAOFOFOLdg=="/>-->
    <!--<add key="MongoConn" value="P35ZhlDPxYPEy+F5h6xqjFaV2+8lP5RYnvk5IVAvG7Y="/>-->
    <add key="MongoConn" value="+Fnsn0Lhewjb1Ns+QA9HUP2PFcHnBebEJDi8GAF8eeROdPBMhLzhfKr7a0G9mqx5"/>
    <add key="MongoConnOnline" value="M85h5LbMxS3F+M4nvqgYjpEUIJWXDWmkoLiFopLbDYBDctMo9L/C/cmEqIB25tkr"/>

    <!--北京赛车-->
    <add key="pk10Url" value="http://175.126.163.35/lottery/pk10;http://dispatch.pk100.co/lottery/pk10"/>
    <!--幸运飞艇-->
    <add key="xyftUrl" value="http://175.126.163.35/lottery/xyft;http://dispatch.pk100.co/lottery/xyft"/>
    <!--重庆时时彩-->
    <add key="cqsscUrl" value="http://175.126.163.35/lottery/cqssc;http://dispatch.pk100.co/lottery/cqssc"/>
    <!--澳洲幸运10-->
    <add key="azxy10Url" value="http://175.126.163.35/lottery/azxy10;http://dispatch.pk100.co/lottery/azxy10"/>
    <!--澳洲幸运5-->
    <add key="azxy5Url" value="http://175.126.163.35/lottery/azxy5;http://dispatch.pk100.co/lottery/azxy5"/>
    <!--爱尔兰赛马-->
    <add key="ireland10Url" value="http://175.126.163.35/lottery/Ireland10;http://dispatch.pk100.co/lottery/Ireland10"/>
    <!--爱尔兰快5-->
    <add key="ireland5Url" value="http://175.126.163.35/lottery/Ireland5;http://dispatch.pk100.co/lottery/Ireland5"/>
    <!--幸运飞艇168-->
    <add key="xyft168Url" value="http://175.126.163.35/lottery/xyft168;http://dispatch.pk100.co/lottery/xyft168"/>
    <!--极速赛车-->
    <add key="jsscUrl" value="http://175.126.163.35/lottery/speed10;http://dispatch.pk100.co/lottery/speed10"/>
    <!--极速时时彩-->
    <add key="jssscUrl" value="http://175.126.163.35/lottery/speed5;http://dispatch.pk100.co/lottery/speed5"/>
    <!--是否开启数据采集-->
    <add key="openColl" value="true"/>
  </appSettings>
</configuration>