<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--redis-->
    <!--<add key="RedisConn" value="119.23.37.245:6379,password=mztd123456  ,abortConnect=false,connectTimeout=10000" />-->
    <add key="RedisConn" value="redis-app-0.redis-service.default.svc.cluster.local:6379,password=Skhd0euuL5hI8LksdjfwTauppUDaA1MhVNdJ,abortConnect=false,connectTimeout=10000" />
    <!--mongo-->
    <!--测试-->
    <!--<add key="MongoConn" value="M85h5LbMxS3F+M4nvqgYjqQy3OOrkHUV2MVXYDgYi0DVuH1jm7birt4jzrlWAcWghzNLW21l+YDG3ezNrkT9qQ=="/>-->
    <!--本地-->
    <add key="MongoConn" value="P35ZhlDPxYPEy+F5h6xqjFaV2+8lP5RYnvk5IVAvG7Y="/>
    <!--正式-->
    <!--<add key="MongoConn" value="M85h5LbMxS3F+M4nvqgYjpEUIJWXDWmkoLiFopLbDYBDctMo9L/C/cmEqIB25tkr"/>-->
    <add key="MongoConnOnline" value="M85h5LbMxS3F+M4nvqgYjsI2Me7b9KFqs6B50B0Gr0p1WxAlYsBBy/p0Gc0Hm2c61M5pf+DoqPJMHZlhT8ttJ2MP3XaxccTd0/VoNuUCZ/E="/>

    <!--北京赛车-->
    <add key="pk10Url" value="http://dispatch.pk100.co/lottery/pk10;http://dispatch.m66.co/lottery/pk10"/>
    <!--幸运飞艇-->
    <add key="xyftUrl" value="http://dispatch.pk100.co/lottery/xyft;http://dispatch.m66.co/lottery/xyft"/>
    <!--重庆时时彩-->
    <add key="cqsscUrl" value="http://dispatch.pk100.co/lottery/cqssc;http://dispatch.m66.co/lottery/cqssc"/>
    <!--澳洲幸运10-->
    <add key="azxy10Url" value="http://dispatch.pk100.co/lottery/azxy10;http://dispatch.m66.co/lottery/azxy10"/>
    <!--澳洲幸运5-->
    <add key="azxy5Url" value="http://dispatch.pk100.co/lottery/azxy5;http://dispatch.m66.co/lottery/azxy5"/>
    <!--爱尔兰赛马-->
    <add key="ireland10Url" value="http://dispatch.pk100.co/lottery/Ireland10;http://dispatch.m66.co/lottery/Ireland10"/>
    <!--爱尔兰快5-->
    <add key="ireland5Url" value="http://dispatch.pk100.co/lottery/Ireland5;http://dispatch.m66.co/lottery/Ireland5"/>
    <!--是否开启数据采集-->
    <add key="openColl" value="true"/>
  </appSettings>
</configuration>