<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--redis-->
    <add key="RedisConn" value="redis-app-0.redis-service.default.svc.cluster.local:6379,password=Skhd0euuL5hI8LksdjfwTauppUDaA1MhVNdJ,abortConnect=false,connectTimeout=10000" />
    <!--mongo-->
        <add key="MongoConn" value="M85h5LbMxS3F+M4nvqgYjpEUIJWXDWmkoLiFopLbDYBLBjdrpbmnLCnr7voDEvyo"/>
    <!--<add key="MongoConn" value="M85h5LbMxS3F+M4nvqgYjrHbZaBoPy1cWY1Gj3kFUrfUqyCTIZDevYPbhS4BWJV330H8vf3vagPUOYYDOKQF6LzT2rzvB/Ov6SGUCW4UWbyUOMLQZ50FaydJIuhbyxPGNaxPRFvBuzIWqAjoIkwUVQ=="/>-->
    <!--<add key="MongoConn" value="P35ZhlDPxYPEy+F5h6xqjFaV2+8lP5RYnvk5IVAvG7Y="/>-->
    <add key="MongoConnOnline" value="M85h5LbMxS3F+M4nvqgYjpEUIJWXDWmkoLiFopLbDYBTfoaPd588Kj2BYor6fFf8fCruR8Cpro/uYLqHbNRMH1k5d7qp/348LggARXrX0MXUWraPEi/onTgcJmcrSqu4"/>
  </appSettings>
</configuration>